.inspo{
    background-color: #F7CBCB;
    padding-bottom: 2%;
}
#inspo{
    padding-left: 1%;
    color: #EF827D;
}
.inspo-list{
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}