body > #root > div {
  height: 400vh;  
  background-color: #E8EAEE;
  /* margin: 10%; */
}


.App {
  text-align: left;
  height: 150vh;
  /* background-color: #E8EAEE; */
  padding: 10%;
  padding-top: 5%;
  /* margin: 10%; */
}
.name{
  /* background-color: #E8EAEE; */
  padding-bottom: 5%;
  font-family: gill-sans-nova-deco, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #6D7172;
}
.subheader{
  font-family: gill-sans-nova, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  color: #EF827D;
}


